html, body, #root, .App {
  height: 100%;
  overflow: hidden;
}

#Confirm-word {
  display: block
}

#table-position {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

/* when there's a certain amount of words make the table scrollable*/
#table-container {
  width: 50%;
  /*spacing on the sides isn't nice */
  overflow: hidden;
}

.button-container {
  width: 50%;
  text-align: right;
  margin-bottom: 3px;
}
