html, body, #root, .App {
  height: 100%;
  overflow: hidden;
}


#table-position {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

/* when there's a certain amount of words make the table scrollable*/
#table-container {
  width: 50%;
  max-width: 100%;
  overflow-x: auto; /* Enables horizontal scrolling if needed */
  overflow-y: auto;
  margin: auto;
}

#vocab-table {
  width: 100%;
  border-collapse: collapse; /* Ensures proper table formatting */
  table-layout: auto; /* Makes columns resize based on content */
}

.vocab-table-row:last-child td,
.vocab-table-row:last-child th {
  border-bottom: none;
}

/* Optional: Add striped rows for better readability */
.vocab-table-row:nth-child(even) {
  background-color: #f9f9f9;
}

/* Style table cells */
.vocab-source {
  padding: 12px;
  text-align: left;
  word-wrap: break-word; /* Prevents text overflow */
}

.vocab-translation {
  word-wrap: break-word;
}

/* Align German words to the right */

/* Make table responsive */
@media (max-width: 900px) {
  #table-container {
    width: 90%; /* Make the table wider on smaller screens */
  }
}

#more-icon {
  padding: 0%;
  margin: 0%;
  width: 0%;
  max-width: 0%;
}



#table-test-to-list:hover {
  background-color: #D3D3D3;
}

.button-container {
  width: 50%;
  text-align: right;
  margin-bottom: 3px;
}

/* modal for new word */

.my-modal {
  position: fixed;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2000;
}


#confirm-word {
  display: flex;
  justify-content: center;
  width: 100%;
}

#confirm-word Button {
  width: 50%;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the last value for transparency */
  z-index: 1000;
}

/* within the word info modal */
#word-label-container{
  display: flex;
  position: relative;
  margin-bottom: 5px;
}

.word-label{
  font-weight: bold;
}

#word-label-right{
  position: absolute;
  right: 0;
  text-align: center;
}

#word-sec-right{
  display: flex;
  justify-content: center;
  padding-top: 3px;
}

#word-sec-left{
  display: flex;
  padding-top: 3px;
}

/* container for the definition within the word info modal */
#def-container{
  margin-top: 5px;
  margin-bottom: 5px;
}

#definition{
  padding-top: 2px;
}

.edit-icon{
  visibility: hidden;
  opacity: 0;
  transition: 
      visibility 0s, opacity 0.5s ease;
}

#POS:hover .edit-icon, #definition:hover .edit-icon, #word-sec-left:hover .edit-icon, #word-sec-right:hover .edit-icon, #example:hover .edit-icon{
            font-size: 15px;
            visibility: visible;
            opacity: 1;
        }

#POS{
  padding-top: 2px;
}


/* inside child modal */
#c-modal-title-container{
  text-align: center;
}


/* vocab table */
