body {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.calculator {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.calculator input[type="text"] {
    flex-basis: calc(74.6% - 10px);
}

.calculator input[type="button"] {
    flex-basis: calc(25% - 5px);
}