.navbar {
  /* fix on top everything as you scroll */
  position: fixed;
  /* position at the top left  window*/
  top: 0;
  left: 0;
  width: 200px;
  height: 100%; 
  background: #009879;
  border-right: 2px solid #008C71;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
  opacity: 1;
  transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.navbar-open {
  left: 0;
  opacity: 1;
}

.navbar_link {
  display: flex;
  align-items: center;
  background: #008C71;
  color: white;
  padding: 12px;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.85rem;
  border-bottom: 1px solid  #009879;
}

.navbar_link:active {
  background: #007d65;
}

.navbar-content {
  display: flex;
  justify-content: flex-end;
}
